{% extends 'home.html' %}
{% load static %}
{% block content %}
    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="index.html">Home</a></li>
                                <li class="is-marked">

                                    <a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-b-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary">Wishlist</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->


            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="content">
                            {% for x in wish %}
                            <!--====== Wishlist Product ======-->
                            <div class="w-r u-s-m-b-30 info" data-spy="{{x.product.id}}" id="{{x.product.size}}">
                                <div class="w-r__container">
                                    <div class="w-r__wrap-1">
                                        <div class="w-r__img-wrap">
                                            {% for y in x.product.project_img.all %}
                                                {% if y.is_cover %}
                                                    <img class="u-img-fluid" src="{{y.image.url}}" alt="" style="max-height: 120px;">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="w-r__info">

                                            <span class="w-r__name">

                                                <a href="product-detail.html">{{x.product.name}}</a></span>

                                            <span class="w-r__category">

                                                <a href="shop-side-version-2.html">Women Clothing</a></span>

                                            <span class="w-r__price" id="{{x.product.new_price}}">{{x.product.new_price}}
                                                <span class="w-r__discount">{{x.product.old_price}}</span></span>
                                        </div>
                                    </div>
                                    <div class="w-r__wrap-2">

                                        <a class="w-r__link btn--e-brand-b-2" id="id-{{x.product.id}}" data-modal="modal" data-modal-id="#add-to-cart">ADD TO CART</a>

                                        <a class="w-r__link btn--e-transparent-platinum-b-2" href="{% url 'details' x.product.id %}">VIEW</a>

                                        <a class="w-r__link btn--e-transparent-platinum-b-2 REMOVE" id="{{x.product.id}}">REMOVE</a></div>
                                </div>
                            </div>
                            <!--====== End - Wishlist Product ======-->
                            {% endfor %}

                        </div>
                        <div class="col-lg-12">
                            <div class="route-box">
                                <div class="route-box__g">

                                    <a class="route-box__link" href="shop-side-version-2.html"><i class="fas fa-long-arrow-alt-left"></i>

                                        <span>CONTINUE SHOPPING</span></a></div>
                                <div class="route-box__g">

                                    <a class="route-box__link clear"><i class="fas fa-trash"></i>

                                        <span>CLEAR WISHLIST</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->

{% endblock content %}

{% block Newsletter %}{% endblock Newsletter %}

{% block script %}
<script>
$(document).ready(function(){
    $('[data-modal="modal"]').click(function(){
        var id = $(this).attr('id').split('-')[1],
            price = $('[data-spy="'+id+'"] .w-r__price').attr('id'),
            name = $('[data-spy="'+id+'"] .w-r__name a').html(),
            size = $('[data-spy="'+id+'"]').attr('id'),
            img = $('[data-spy="'+id+'"] .w-r__img-wrap img').attr('src');
        add_to_cart(id, name, '1', price, size, img)

    });
    if($('#content').children().length === 0){
        $('.route-box__link.clear').css('display','none')
    }
});

</script>

{%endblock%}